h3
{
text-align:center;
border:2px solid black;
padding:60px;
color:white;
background-color:black;
}

h3:hover
{
color:green;
}

.logo
{
position:absolute;
width:150px;
height:150px;
}

header
{
margin:10px;
}
li
{
display:inline;
}
nav
{
border:dashed;
text-align:center;
}

section
{
padding:20px  solid black;
border:2px solid black;
}

.article1
{
border:2px solid red;
margin:45px;
}
.article1:hover
{
background-color:black;
opacity:90%;
}
.article2
{
border:2px solid orange;
margin:45px;
}
.article2:hover
{
background-color:black;
opacity:90%;
}
.article3
{
border:2px solid green;
margin:45px;
}
.article3:hover
{
background-color:black;
opacity:90%;
}
.para1
{
color:red;
text-align:center;
}
.para2
{
color:sky blue;
text-align:center;
}

.para3
{
color:green;
text-align:center;
}




footer
{
border:2px solid black;
background-color:black;
padding:20px;
}
.fot
{
text-align:center;
color:white;
}
